@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');

:root {
  --primary-clr-1: #212529;
  --primary-clr-2: #343a40;
  --primary-clr-3: #495057;
  --primary-clr-4: #adb5bd;
  --primary-clr-5: #e9ecef;
  --primary-clr-6: #f8f9fa;
  --secondary-clr-1: #0077b6;
  --secondary-clr-2: #e76f51;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: var(--primary-clr-1);
  color: var(--primary-clr-5);
}

header {
  background-color: var(--primary-clr-2);
  color: var(--primary-clr-5);
  padding: 1rem;
}

header > .logo {
  font-size: 2rem;
  
}
header > .logo:hover {
  color: var(--primary-clr-4);
  
}

#users {
  margin: 3rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
}
.border {
  border-bottom: 3px solid var(--secondary-clr-2);
}
ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

ul li {
  display: flex;
  gap: 1rem;
  justify-content: space-evenly;
}
.userCard {
  background-color: var(--primary-clr-6);
  color: var(--primary-clr-2);
  margin: 1rem;
  padding: 1rem;
  border-radius: 10px;
  border: 1px solid var(--primary-clr-3);
  box-shadow: var(--dark-shadow);
}
img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--primary-clr-5);
  box-shadow: var(--light-shadow);
}
img:hover {
  opacity: 0.8;
}
a {
  color: var(--secondary-clr-1);
  font-weight: 700;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.profile {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  justify-content: center;
}
footer {
  background-color: var(--primary-clr-2);
  padding: 2rem;
}
footer>.copy {
  color: var(--primary-clr-4);
  text-align: center;
}

footer>.copy>.signature {
  font-style: italic;
}

@media screen and (min-width:811px) and (max-width: 1300px) {
  ul {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 1000px) {
  ul {
      grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 700px) {
  ul {
      grid-template-columns: 1fr;
    }
        h1 {
          font-size: 2.5rem;
        }
}